<div class="container w-xl w-auto-xs">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Forgot Password</strong>
        </div>
        <form name="forgotPwd" class="form-validation form-horizontal" rc-submit="forgotPassword()" novalidate>
           
            
                <div class="form-group" ng-class="{'has-error': rc.forgotPwd.needsAttention(empLogin.username)}">
                    <input type="text" placeholder="UserName" capitalize name="username" ng-model="username" class="form-control" ng-required="true" />
                    
                   <!-- <em class="m-b-none text-muted">A reset link sent to your email address, please check it will be active only 24 hours. </em> -->
                    <span class="help-block" ng-show="forgotPwd.username.$error.required && rc.forgotPwd.needsAttention(forgotPwd.username)">UserName is required.</span>
                </div>
                 <div class="form-group">
                <button type="submit" ng-disabled="savedisable==1" class="btn btn-lg btn-primary btn-block">Send</button>
                </div>
                <div class="text-center m-t m-b"><a ui-sref="access.signin">Go Back to Login Page</a></div>
                <div class="form-group">
                    
                        <div class="alert alert-{{ErrorClass}}" ng-if="showerrorMsg">
                            {{ErrorMsg}}
                        
                    </div>
                </div>
        </form>
        
    </div>
    <div class="text-center" ng-include="'partials/page_footer.tpl.html'"></div>
</div>