<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Alert Log</h1>

</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row wrapper">
            <div class="col-sm-2">

                <input class="form-control " ui-select2="Selectfield" value="" placeholder="Select Field" ng-model="logFilters.field">

            </div>
            <div class="col-sm-2">
                <div class="form-control "  ng-disabled="logFilters.field == ''" placeholder="Select Zone" ui-select2="selectZone" value="" ng-model="logFilters.zone">
                </div>
            </div>
         

            <div class="col-sm-2">
                <div ng-if="logFilters.zone == '' || logFilters.zone == null || logFilters.field == '' || logFilters.field.id=='startDate' || logFilters.zone[0].id =='all' || logFilters.field == ''"
                >
                    <input class="form-control "  ui-select2="selectAlertType" value="" placeholder="Alert Type" ng-model="logFilters.alertType">


                </div>
                <div ng-if="logFilters.zone != '' && logFilters.zone != null && logFilters.field != '' &&logFilters.field.id !='startDate' && logFilters.zone[0].id !='all' && logFilters.field != ''" >
                    <input class="form-control "  ui-select2="selectValue" value="" placeholder="Select Value" ng-model="logFilters.field_value">
                </div>

            </div>


            <div class="col-sm-3">

                <div ng-controller="DatepickerDemoCtrl">

                    <div class="input-group">
                        <input type="text" placeholder="Select Start Date" class="form-control" readonly datepicker-popup="{{format}}" ng-model="logFilters.startDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>

                </div>

            </div>
            <div class="col-sm-3">

                <div ng-controller="DatepickerDemoCtrl">

                    <div class="input-group">
                        <input type="text" placeholder="Select End Date" class="form-control" readonly datepicker-popup="{{format}}" ng-model="logFilters.endDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>

                </div>

            </div>

        </div>

        <div class="row wrapper">
            <div class="col-sm-6">
                <button class="btn btn-md btn-info" type="button" ng-click="updateTableData()">Search</button>
                <button class="btn btn-md btn-warning" type="button" ng-click="clearSearch()">Clear</button>
                <span class="alert alert-danger" ng-if="showerrorMsg">{{error_msg}}</span>

            </div>
            <div class="col-sm-6">
                <div class=" pull-right">
                    <a ng-disabled="noRecord==1" download="AlertLog.xlsx" class="btn btn-md btn-info" id="export" ng-click="exportExcel()">Export Excel</a>
                 
                </div>
            </div>
            

        </div>
        <div class="row wrapper" ng-if="noRecord==1 || show_activities_loader">
            <div class="col-sm-12">
                <div ng-if="noRecord==1" ng-bind-html="norecord"> {{norecord }}</div>
                <div ng-if="show_activities_loader" show-loader="show_activities_loader"></div>
            </div>

        </div>

        <div class="row wrapper" ng-if="showRecord==1">
            <wj-flex-grid control="ctx.flexGrid" items-source="AlertDetails">
                <wj-flex-grid-column header="Employee Code" is-read-only="true" binding="empcode" width="*"> </wj-flex-grid-column>
               
                <wj-flex-grid-column header="Job Code" is-read-only="true" binding="jobcode"> </wj-flex-grid-column>
                <wj-flex-grid-column header="Alert Type" is-read-only="true" binding="alert_type"> </wj-flex-grid-column width="*">
                <wj-flex-grid-column header="Date" is-read-only="true" binding="date_time"> </wj-flex-grid-column>
                 <wj-flex-grid-column header="Employee Zone Code" is-read-only="true" binding="emp_zone" > </wj-flex-grid-column>
               
                <wj-flex-grid-column header="Job Zone Code" is-read-only="true" binding="job_zone"> </wj-flex-grid-column>
                <wj-flex-grid-column header="Notes" is-read-only="true" binding="notes"> </wj-flex-grid-column>
                <wj-flex-grid-column header="Edit" is-read-only="true" binding="id" align="center">
                    <button type="button" class="btn btn-rounded btn-sm btn-icon btn-default" ng-click="enableEditView()"><i class="fa fa-pencil"></i>
                    </button>
                </wj-flex-grid-column>
               </wj-flex-grid-column>




            </wj-flex-grid>
            <div class="row wrapper">
                <wj-menu value="AlertDetails.pageSize" header="Rows per Page">
                    <wj-menu-item value="10"> 10</wj-menu-item>
                    <wj-menu-item value="25"> 25</wj-menu-item>
                    <wj-menu-item value="50"> 50</wj-menu-item>
                    <wj-menu-item value="100"> 100</wj-menu-item>
                </wj-menu>




                <div class="btn-group col-md-8" ng-show="AlertDetails.pageSize > 0">
                    <button type="button" class="btn btn-default" ng-disabled="AlertDetails.pageIndex <= 0" ng-click="AlertDetails.moveToFirstPage()"> <span class="glyphicon glyphicon-fast-backward"></span> </button>
                    <button type="button" class="btn btn-default" ng-disabled="AlertDetails.pageIndex <= 0" ng-click="AlertDetails.moveToPreviousPage()"> <span class="glyphicon glyphicon-step-backward"></span> </button>
                    <button type="button" class="btn btn-default" disabled style="width:100px"> {{AlertDetails.pageIndex+1}} / {{AlertDetails.pageCount}} </button>
                    <button type="button" class="btn btn-default" ng-disabled="AlertDetails.pageIndex >= AlertDetails.pageCount - 1" ng-click="AlertDetails.moveToNextPage()"> <span class="glyphicon glyphicon-step-forward"></span> </button>
                    <button type="button" class="btn btn-default" ng-disabled="AlertDetails.pageIndex >= AlertDetails.pageCount - 1" ng-click="AlertDetails.moveToLastPage()"> <span class="glyphicon glyphicon-fast-forward"></span> </button>
                </div>
            </div>
        </div>





    </div>
</div>