<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
  
  <!-- brand -->
  <a href="javascript:void(0)" class="navbar-brand text-white ct-nav-brand logopaddingbottom">
  
    <img src="assets/logo-sm.png" alt="." >
    <span class="hidden-folded m-l-xs text-white"><img alt="CareTime" src="assets/logotext.png"></span>

    <!--<span class="hidden-folded m-l-xs text-white">
      CARETIME
    </span>-->
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" >
  

  
</div>
<!-- / navbar collapse -->