<!-- first -->
<div class="aside-wrap">
   <div class="navi-wrap">
    <nav ui-nav class="navi" >
  		<ul class="nav">
  		<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		    <span >
		      NAVIGATION 
		    </span>
	  	</li>
		 <li data-access-level="accessLevels.agencyDetail">
		    <a ui-sref="admin.agency" >
		    <i class="glyphicon glyphicon-record icon text-primary-lter">
		    </i>
		    <span>
		    AGENCY DETAIL 
		    </span>
		    </a>
		 </li>
		</ul>
	</nav>
 </div>
</div>
  
<!-- / third -->

