<div class="container w-xl w-auto-xs">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Reset your password</strong>
        </div>
      <form name="resetPwd" class="form-validation form-horizontal resetPwd" rc-submit="resetPassword()" novalidate>
           
            
                <div class="form-group" ng-class="{'has-error': rc.resetPwd.needsAttention(resetPwd.password1)}">
                
                    <input type="password" placeholder="Set Password" id="password1" name="password1" ng-model="password1" class="form-control" required="">
                     <span class="help-block" ng-show="resetPwd.password1.$error.required && rc.resetPwd.needsAttention(resetPwd.password1)">Set Password is required.</span>
                
            </div>
            <div class="form-group" ng-class="{'has-error': rc.resetPwd.needsAttention(resetPwd.password2)}">
                
                    <input type="password" placeholder="Confirm Password" id="password2" name="password2" pw-check="password1" ng-model=password2 class="form-control" required="">
                     <span class="help-block" ng-show="resetPwd.password2.$error.required && rc.resetPwd.needsAttention(resetPwd.password2)">Confirm Password is required.</span>
                
            </div>
                 <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="savedisable==1">Update</button>
                </div>
                <div class="form-group">
                    
                        <div class="alert alert-{{ErrorClass}}" ng-if="showerrorMsg">
                            {{ErrorMsg}}
                        </div>
                    
                </div>
        </form>
        
    </div>
    <div class="text-center" ng-include="'partials/page_footer.tpl.html'"></div>
</div>