<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{labels.Jobs }} List <span class="pull-right"><a ui-sref="ctApp.addUpdateJob" class="btn btn-sm btn-info" type="button">Add {{labels.Jobs }}</a>&nbsp;<a ui-sref="ctApp.jobList" class="btn btn-sm btn-info" type="button">JOB LIST</a></span></h1>

</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row wrapper">
            <div class="col-sm-3">
                    <div  class="form-control " ui-select2="selectzone" value="" placeholder="Select Zone" ng-model="config.general.zone"></div>
            </div>
            <div class="col-sm-3">
                <div class="input-group col-sm-12">

                    <ui-select ng-change="updateTableData()" ng-model="config.general.filterStatus" theme="select2" style="min-width: 225px;">
                        <ui-select-match placeholder="Status for search">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in statusSearchOption">
                            <div ng-bind-html="item.name"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
             
            </div>
            <div class="col-sm-3">
                <div class="input-group col-sm-12">

                     <ui-select ng-model="config.general.filterDBField" theme="select2" style="min-width: 225px;">
                        <ui-select-match placeholder="Optional filter for search">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in jobSearchOption">
                            <div ng-bind-html="item.name"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                
                
            </div>
            <div class="col-sm-3">
                <input type="text" class="input-md form-control" placeholder="Search Text" ng-model="config.general.searchtxt" capitalize ui-keypress="{13:'updateTableData(true)'}">
            </div>
           
        </div>
        <div class="row wrapper">
            <div class="col-sm-3">
                    <button class="btn btn-md btn-info" type="button" ng-click="updateTableData(true)">Search</button>
                    <button class="btn btn-md btn-warning" type="button" ng-click="clearSearch()">Clear</button>
            </div>
        </div>
        <div class="table-wrapper table-responsive">
            <table class="table table-striped b-t b-light table-bordered word-break" ct-table-sort="sortField" sort-order="sortType" callback="applyProgramSort()">
                <thead>
                    <tr>
                        <th id="job_code" class="sort-item asc" style="width:20%;">Job Code &nbsp;<i class="fa fa-sort fa-sort-up"></i>
                        </th>
                        <th id="job_name" class="sort-item">Job Name &nbsp;<i class="fa fa-sort"></i>
                        </th>
                        <th id="job_zone" class="sort-item">Zone &nbsp;<i class="fa fa-sort"></i>
                        </th>
                        <th >Authorized Phone &nbsp; </th>
                        <th id="status" class="sort-item">Status &nbsp;<i class="fa fa-sort"></i>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody infinite-scroll='getNextData()' infinite-scroll-disabled='disable_infinite_scroll' infinite-scroll-distance='0'>
                    <tr ng-repeat="detail in jobDetailList" class="animate-repeat">
                        <td>{{detail.job_code }}</td>
                        <td> <span ng-bind-html="detail.last_clocked_in_date | iconColor">{{detail.last_clocked_in_date  | iconColor}}</span> &nbsp;   <span ng-bind-html="detail.last_scheduled_date | calenderIconColor">{{detail.last_scheduled_date  | iconColor}}</span> &nbsp; {{detail.job_name | stripslashes }}</td>
                        <td>{{detail.job_zone_detail |  parseToJson:0:'zone' }}</td>
                        <td ng-if="empCountry=='' || empCountry=='United States'">{{detail.authorized_phone_format }}</td>
                        <td ng-if="empCountry!='' && empCountry!='United States'">{{detail.work_phone_format}}</td>
                        <td ng-bind-html="detail.status | checkstatus">{{detail.status | checkstatus}}</td>
                        <td>
                            <button  ng-click="enableView(detail.job_code)" class="btn btn-rounded btn-sm btn-icon btn-default"><i class="fa fa-eye"></i></button>

                            <button ng-click="enableEditView(detail.id)" class="btn btn-rounded btn-sm btn-icon btn-default"><i class="fa fa-pencil"></i>
                            </button>
                            <!--<button ng-click="enableDelete(detail.id)" class="btn btn-rounded btn-sm btn-icon btn-default"><i class="fa fa-trash-o"></i> 
                            </button>-->
                        </td>
                    </tr>
                    <tr ng-if="config.show_jobs_loader">
                        <td colspan="4">
                            <div show-loader="config.show_jobs_loader"></div>
                        </td>
                    </tr>
                    <tr ng-if="!config.show_jobs_loader && jobDetailList.length==0">
                        <td colspan='4' class="alert alert-danger">
                            <center> No Records Found.</center>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>