<div class="modal-header">
    <h3 class="modal-title">Job Detail</h3>
</div>
<div class="modal-body" >
 <tabset class="tab-container">
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-info-sign"></i> Basic Setup
            </tab-heading>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <tr>
                        <th colspan="2">
                            Job Name
                        </th>
                        <td colspan="2">
                            {{job.job_name}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Job Code
                        </th>
                        <td colspan="2">
                            {{job.job_code}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Job Zone
                        </th>
                        <td colspan="2">
                            {{job.job_zone_detail | parseToJson:0:'zone'}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Contact Name
                        </th>
                        <td colspan="2">
                            {{job.contact_name}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Authorized Phone
                        </th>
                        <td colspan="2">
                            {{job.authorized_phone_format}}
                        </td>
                    </tr>

                    <th colspan="2">
                        Scheduled Visits Only
                    </th>
                    <td colspan="2">
                        {{job.visitonly | visitonly }}
                    </td>

                    </tr>
                    <tr>
                        <th colspan="2">
                            Status
                        </th>
                        <td colspan="2" ng-bind-html="job.status | checkstatus">
                            {{job.status | checkstatus}}
                        </td>
                    </tr>
                </table>




            </div>
        </tab>
      <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-user"></i> Location
            </tab-heading>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <tr>
                        <th colspan="2">
                            Address Line
                        </th>
                        <td colspan="2">
                            {{job.job_address1}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Address Line 2
                        </th>
                        <td colspan="2">
                            {{job.job_address2}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Zip / County / City / State
                        </th>
                        <td colspan="2">
                            {{job.job_zip}} {{job.job_county}} {{job.job_city}} {{job.job_state}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            View on Google map
                        </th>
                        <td colspan="2">
                            <a ng-href="{{job.map_url}}" class="btn btn-sm btn-info" target="_blank">Click here to View</a>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Time Zone
                        </th>
                        <td colspan="2">
                            {{job.timezone}}
                        </td>
                    </tr>

                </table>

            </div>
        </tab>
         <tab>
            <tab-heading>
                <i class="glyphicon  glyphicon-plus"></i> Advanced
            </tab-heading>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <tr>
                        <th colspan="2">
                            External code
                        </th>
                        <td colspan="2">
                            {{job.external_code | parseToJson}}
                        </td>
                    </tr>

                    <tr>
                        <th colspan="2">
                            Service Item
                        </th>
                        <td colspan="2">
                            {{job.service_item_detail | parseToJson:0:'text' }}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Pay Type
                        </th>
                        <td colspan="2">
                            {{job.pay_type_detail | parseToJson:0:'text'}}
                        </td>
                    </tr>


                </table>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <i class="glyphicon  glyphicon-plus"></i> Notes
            </tab-heading>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <tr>
                        <th colspan="2">
                            Notes
                        </th>
                        <td colspan="2">
                            {{job.job_notes}}
                        </td>
                    </tr>

                </table>
            </div>
        </tab>
         <tab>
            <tab-heading>
                <i class="glyphicon  glyphicon-plus"></i> Activity Code </tab-heading>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <tr>
                        <th colspan="2">
                            Select Activity
                        </th>
                        <td colspan="2">
                            {{job.activity_type | activity}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Default Activity
                        </th>
                        <td colspan="2">
                            {{job.activity_detail  | parseToJson:0:'text'}}
                        </td>
                    </tr>
                </table>
            </div>
        </tab>

       <tab>
            <tab-heading>
                <i class="glyphicon  glyphicon-plus"></i> Custom Prompts
            </tab-heading>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <tr>
                        <th colspan="2">
                            When
                        </th>
                        <td colspan="2">
                            {{job.prompt_logtype | logtype}}
                        </td>
                        <tr>
                            <th colspan="2">
                                Prompts Added
                            </th>
                            <td colspan="2">
                                {{job.prompt_details | prompt_details}}



                            </td>
                        </tr>
                    </tr>
                </table>
            </div>
        </tab>

         <tab>
            <tab-heading>
                <i class="glyphicon  glyphicon-plus"></i> Authorization History
            </tab-heading>
            <div class="row wrapper" ng-if="job_authorization.length==0">
                <div class="col-sm-12">
                    <div class="alert alert-danger">No Record Found </div>
                </div>

            </div>
            <div class="table-responsive" ng-if="job_authorization.length!=0">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th class="sortable id"> IDs </i>
                            </th>

                            <th class="sortable payor">Payor </i>
                            </th>
                            <th class="sortable skill">Skill </i>
                            </th>
                            <th class="sortable acitivity">Activity </i>
                            </th>

                            <th class="sortable authorization_start_date">Date </i>
                            </th>

                            <th class="sortable hours">Total Authorized Hours </i>
                            </th>
                            <th class="sortable status">Status </i>
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="detail in job_authorization">

                            <td>{{detail.id}}</td>
                            <td>{{detail.payor_detail | parseToJson:0:'text'}}</td>
                            <td>{{detail.skill_detail | parseToJson:0:'text'}}</td>
                            <td>{{detail.acitivity_detail | parseToJson:0:'text' }}</td>
                            <td>{{detail.authorization_start_date | onlydate}} &nbsp; - &nbsp; {{detail.authorization_end_date | onlydate}}</td>
                            <td>{{detail.total_hours}}</td>
                            <td ng-bind-html="detail.status | checkstatus">{{detail.status | checkstatus}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>


    <div class="modal-footer">
        <button class="btn btn-default btn-rounded" ng-click="cancel()">Close</button>
        <button class="btn btn-primary btn-rounded" ng-click="ok()">Edit</button>
    </div>
    </div>