<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">{{pageTitle}} Activity Code</h1>
    </div>
    <div class="wrapper-md" style="background:#FFF;">
        <div>
            <p class="m-b"><em class="text-danger">Required fields are in Red</em>
            </p>
            <progressbar value="100" class="progress-xs" type="success"></progressbar>
            <form name="addUpdateActivityCodeForm" class="form-validation form-horizontal general" rc-submit="activityCodeManage()" novalidate>
                <div class="form-group" ng-class="{'has-error': rc.addUpdateActivityCodeForm.needsAttention(addUpdateActivityCodeForm.code)}">
                    <label class="col-sm-2 control-label text-danger">Activity Code</label>
                    <div class="col-sm-10">
                        <input   ng-maxlength="4" type="text" class="form-control w-md" capitalize required="" placeholder="Activity Code" name="code" ng-model="activityCode.code" ng-pattern="/^[0-9]+$/">
                        <span class="help-block" ng-show="addUpdateActivityCodeForm.code.$error.required && rc.addUpdateActivityCodeForm.needsAttention(addUpdateActivityCodeForm.code)">Activity Code  is required.</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': rc.addUpdateActivityCodeForm.needsAttention(addUpdateActivityCodeForm.name)}">
                    <label class="col-sm-2 control-label text-danger">Activity Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control w-md" capitalize required="" placeholder="Activity Name" name="name" ng-model="activityCode.name">
                        <span class="help-block" ng-show="addUpdateActivityCodeForm.name.$error.required && rc.addUpdateActivityCodeForm.needsAttention(addUpdateActivityCodeForm.name)">Activity name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Activity Description</label>
                    <div class="col-sm-10">
                         <textarea capitalize rows="4" ng-model="activityCode.description" cols="45"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billable</label>
                    <div class="col-sm-10">
                        <label class="radio-inline i-checks">
                            <input type="radio" name="billable" value="1" ng-model="activityCode.billed"><i></i> Yes
                        </label>
                        <label class="radio-inline i-checks">
                            <input type="radio" name="billable" value="0" ng-model="activityCode.billed"><i></i> No
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        <label class="radio-inline i-checks">
                            <input type="radio" name="a" value="1" ng-model="activityCode.status"><i></i> Active
                        </label>
                        <label class="radio-inline i-checks">
                            <input type="radio" name="a" value="0" ng-model="activityCode.status"><i></i> Inactive
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary  btn-rounded" ng-disabled="savedisable == 1">Save Changes</button>
                        <button type="button" ng-click='cancelActivityCode()' class="btn btn-default  btn-rounded pull-right">Cancel</button>
                        <span class="alert alert-{{ErrorClass}}" ng-if="showerrorMsg">{{ErrorMsg}}</span>
                    </div>
                </div>
                <div class="form-group" ng-show="activityCode_id">
                    <div class="col-sm-12">
                        <div class="alert alert-info">
                            <p>Created by: {{activityCode.created_by | AddEditUser}}, Created date is: <em class="ng-binding">{{activityCode.created_on | date:'medium'}}</em>
                            </p>
                            <p ng-show="activityCode.editedOn">
                                Edited by: {{activityCode.edited_by | AddEditUser}}, Last Edited date is: <em class="ng-binding">{{activityCode.editedOn | date:'medium' }}</em>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>